form {
  width: 100%;
}

.mat-list-item {
  height: 60px;
}

.mat-form-field {
  margin-top: 18px;
  width: 80%;
}

.task-actions {
  margin-left: auto;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.mat-checkbox-checked {
  text-decoration: line-through;
  color: #aaaaaa;
}
